@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Ita D'Pizza</h1>
    <img src="/Images/logo.jpg" alt=""/>
    <p>Please click Sign in/ Sign up to get started!</p>
</div>
